<!-- Модель формы для фильма -->
<form id="filmForm" action="/Film" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleFormControlFile1">Film Image</label>
        <input name="Image" type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Name</label>
            <input name="Name" type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Description</label>
            <input name="Description" type="text" class="form-control" id="inputPassword4">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Star</label>
        <input name="Star" type="text" class="form-control" id="inputAddress">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Category</label>
        <input name="Category" type="text" class="form-control" id="inputAddress2">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Rate</label>
            <input name="Rate" type="text" class="form-control" id="inputCity">
        </div>
    </div>

    <!-- Добавление обработчика событий для кнопки -->
    <button type="button" id="submitButton" class="btn btn-primary">Sign in</button>
</form>

<script>
    document.getElementById("submitButton").addEventListener("click", function () {
        alert("Film Added");
        document.getElementById("filmForm").submit(); 
    });
</script>
